package home

import "github.com/temidaradev/golang-todo-app/views/layouts"

templ Index() {
	@layouts.Base() {
		<div class="flex flex-col items-center">
			<h1 class="mb-1 text-4xl font-extrabold leading-none text-gray-900 lg:text-5xl xl:text-6xl sm:mb-3">Wassudsbananadsp</h1>
		</div>
	}
}
